<div class="cmp-schedule"
     data-sly-use.template="core/wcm/components/commons/v1/templates.html"
     data-sly-use.schedule="com.hs2solutions.aem.hfl.core.models.Schedule">
    <div data-sly-test="${schedule.allowFilter}">
        <div data-sly-test.filterCopySet="${schedule.copyFilterAll && schedule.copyFilterHome && schedule.copyFilterAway}" class="schedule-filter">
            <label>
                <input type="radio" name="filter" value="all" checked/><span>${schedule.copyFilterAll}</span>
            </label>
            <label>
                <input type="radio" name="filter" value="home"/><span>${schedule.copyFilterHome}</span>
            </label>
            <label>
                <input type="radio" name="filter" value="away"/><span>${schedule.copyFilterAway}</span>
            </label>
        </div>
        <p data-sly-test="${!filterCopySet}" class="author-msg">
            Please configure the filter labels in Shared Properties.
        </p>
    </div>
    <p data-sly-test="${!schedule.copyLabelHome || !schedule.copyLabelAway}" class="author-msg">
        Please configure the home/away labels in Shared Properties.
    </p>
    <div class="schedule-games"
         data-resource="${resource.path}"
         data-label-home="${schedule.copyLabelHome}"
         data-label-away="${schedule.copyLabelAway}">
        <!-- Content populated via JavaScript -->
    </div>
</div>